# List
- A list similer to an array that consists of a group of elements or items.
- There is one major difference between an array and a list, an array can store only one type of elements whereas a list can store different types of elements
- In array size of the array is fixed and they can't grow in the runtime but List can grow dynamically in memory
- Lists are mutable, It means we can modify the contents of a list, we can append, update or delete the elements of a list depening upon the requirement 
- Lists are representing with [ ] and the elements are written in bracket are seperated by commas
- List  are the most used datatypes in python programs

In [32]:
# Creating list that stores students information
student=[10,'sadashiv',55,60,65,78,90,65]
print(student)

[10, 'sadashiv', 55, 60, 65, 78, 90, 65]

In [38]:
# Indexing in list
student[-1]

65

In [39]:
# Slicing Operation in list
student[0:4]

[10, 'sadashiv', 55, 60]

In [4]:
# Range() function in list, range(start, stop, stepsize)
# The below print function return only range class object that stores the data about 'start', 'stop' and 'stepsize'

In [40]:
# use for loop to get the range of numbers
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [46]:
# Use while loop to get the range of numbers
lst=list(range(1,11))
i=1
while i<len(lst):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [47]:
# sum() function in list returns the sum of all the elements
lst=[1,2,3,4,5]
print(sum(lst))

15

In [48]:
# index() function returns the first occurence of x in the list, usage of the function: list.index(x)
lst=[10,20,30,40,50]
lst.index(30)

2

In [49]:
# append() function appends x at the end of the list, usage of the function: list.append(x)
lst.append(60)
print(lst)

[10, 20, 30, 40, 50, 60]

In [50]:
# insert() function inserts x into the list in the position specified by i, usage of the function: list.insert(i,x)
lst.insert(3,70)
print(lst)

[10, 20, 30, 70, 40, 50, 60]

In [52]:
# copy() function copies all the list elements into a new list and returns it, usage of the function: list.copy()
lst=[1,2,3,4,5]
lst1=list.copy(lst)
print(lst1)

[1, 2, 3, 4, 5]

In [55]:
# extend() function append one list with another list, usage of the function: list.extend(list1)
# cancantation can be used to append two list, we can simply use '+' operator on two lists to join them
lst1=[10,20,30,40]
lst2=[50,60,70,80]
#lst1.extend(lst2)
#print(lst1)

[10, 20, 30, 40, 50, 60, 70, 80]

In [56]:
lst3=lst1+lst2
print(lst3)

[10, 20, 30, 40, 50, 60, 70, 80, 50, 60, 70, 80]

In [58]:
# count() function returns number of occurence of x in the list, usage of the function: list.count(x)
lst=[10,20,30,10,10,10,30,40,50,60]
lst.count(30)

2

In [59]:
# remove() function removes x from the list, usage of the function: list.remove(x)
lst=[10,20,30,40,50]
lst.remove(30)
print(lst)

[10, 20, 40, 50]

In [60]:
# pop() function remove the ending element from the list
lst=[1,2,3,4,5,6,7]
lst.pop()
print(lst)

[1, 2, 3, 4, 5, 6]

In [62]:
# sort() function sort the element of the list into assending order, usage of the function: list.sort()
lst=[1,4,2,9,3,7,8,6]
lst.sort()
print("Ascending order: ",lst)

#list_name.sort() – it sorts in ascending order

#list_name.sort(reverse=True) – it sorts in descending order
lst.sort(reverse=True)
print("Descending order: ",lst)

Ascending order:  [1, 2, 3, 4, 6, 7, 8, 9]
Descending order:  [9, 8, 7, 6, 4, 3, 2, 1]

In [63]:
# clear() function delete all the elements from the list, usage of the function: list.clear()
lst=[10,20,30,40,50]
lst.clear()
print(lst)

[]

In [66]:
# max() function returns maximum value of the element in the list and min() function minimum value
lst=[10,30,40,100,500,300]
print("The maximum value present in the list",max(lst))
print("The minimum value present in the list",min(lst))

The maximum value present in the list 500
The minimum value present in the list 10

In [67]:
# Repetition of list
lst=[1,2,3,4,5]
lst1=[3*lst]
print(lst1)

[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

# Membership in list
- We can check if an element is a member of a list or not by using 'in' and 'not in operator.
- If the element is a member of the list, then 'in' operator returns True else False.
- If the element is not a member of the list, then 'not in' operator returns True or False

In [70]:
x=[10,20,30,40,50]
a=70
print(a not in x)

True

# Aliasing and Cloning of List
- Giving a new name to an existing list is called 'aliasing', the new name is called aliase name

In [71]:
x=[1,2,3,4,5]
y=x
print("The elements present in the x: ",x)
print("The elements present in the y: ",y)

The elements present in the x:  [1, 2, 3, 4, 5]
The elements present in the y:  [1, 2, 3, 4, 5]

In [72]:
# In aliasing any modification in x will also modify element in y
x[1]=99
print("The elements present in the x: ",x)
print("The elements present in the y: ",y)

The elements present in the x:  [1, 99, 3, 4, 5]
The elements present in the y:  [1, 99, 3, 4, 5]

In [73]:
# Cloning in list
x=[1,2,3,4,5]
y=x[:]
x[1]=99
print("The elements present in the x: ",x)
print("The elements present in the y: ",y)

The elements present in the x:  [1, 99, 3, 4, 5]
The elements present in the y:  [1, 2, 3, 4, 5]

# Finding Common elements in Two lists
- Sometime, it is useful to know which elements are repeated in two list
- we should convert the lists into  sets, using set() function
- Then we should find out the common element in the two sets using intersection method, **set1.intersection(set2)**

In [77]:
# Finding common elements in two lists
# Take two lists
lst1=[1,2,3,4,5,6]
lst2=[1,10,20,3,4,50]
# Convert them into sets
s1=set(lst1)
s2=set(lst2)

#Find the intersection of two sets using s1.intersection(s2)
s3=s1.intersection(s2)
print(s3)

#convert the resultant set into list
lst3=list(s3)
print(lst3)

{1, 3, 4}
[1, 3, 4]

# Nested Lists
- A list within another list is called a nested list

In [78]:
a=[80,90]
b=[10,20,30,a]
print(b)

[10, 20, 30, [80, 90]]

In [79]:
# if we want to display nested elements seperately, we can use a for loop
for x in b[3]:
    print(x)

80
90

In [81]:
# Create a matrix with 3 rows and 3 columns
mat=[[1,2,3], [4,5,6], [7,8,9]]
print(mat)

for r in mat:
    print(r)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [82]:
# retrieve the elements from 'mat', it will retrieve row by row
for r in mat:
    for c in r:
        print(c,end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [29]:
# retrieve the column in each row

# List Comprehensions
- List comprehensions represent creation of new lists from an iterable objects(like a list, set, tuple, dictionary or range)
that satisfy a given condition
- List comprehensions contain very compact code usually a single statement that performs the tasks

In [83]:
square=[]
for x in range(1,11):
    square.append(x**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [84]:
square=[x**2 for x in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Tuple
- A tuple is a Python sequence which stores a group of elements or items
- Tuples are similer to list but the main difference is tupple are immutable, where lists are mutable
- Once we create tupple we canot modify the tuple
- Hence we canot perform operations like append(), extend(), remove(), clear(), pop() on tuple
- The elements in the tuple are seperated by commas and enclosed in parentheses().
- Tuples are generally used to store data which should not be modified and retrieve that data on demand

In [3]:
# Example for creating tuple
tup=(10,20,-30.1,40.5,'Hyderabad','New Delhi')
print(tup)

(10, 20, -30.1, 40.5, 'Hyderabad', 'New Delhi')

In [6]:
# If we donot mention any brackets and write the element separating them by commas, then they are taken by default as tuple
tup1=1,2,3,4

print(tup1)

(1, 2, 3, 4)

In [1]:
# Create tuple from list
lst=[1,2,3,4,5]


tup2=tuple(lst)
print(tup2)

(1, 2, 3, 4, 5)

In [10]:
# Creating tuple by using range function
tup=tuple(range(1,10))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [85]:
# Accessing the tuple elements
tup=(50,60,70,80,90,100)

print(tup[3])

print(tup[1:3])

print(tup[1:5:2])

print(tup[::2])

80
(60, 70)
(60, 80, 100)
(50, 70, 90)

In [21]:
# Negative indexing in tuple
print(tup[-1])
print(tup[-4:-1])
print(tup[::-2])

100
(70, 80, 90)
(100, 80, 60)

In [7]:
x=(1,2,3,4,5,6,7,8,9)

print(x[5])

print(x[-4:-1])

print(x[::-2])

5
(6, 7, 8)
(9, 7, 5, 3, 1)

In [8]:
# Storing extracted elements into variables
student=(10,'Vinay Kumar',50,60,65,61,70)

rn0,name=student[-7:-5]
print('Role number of the student is : ',rn0)
print('Name of the student is : ',name)

Role number of the student is :  10
Name of the student is :  Vinay Kumar

In [27]:
# To retrieve marks of the student 
marks=student[2:7]
for i in marks:
    print(i)

50
60
65
61
70

In [31]:
# finding length, maximum and minimum value of tuple
tup=(10,20,30,40,50,60)
print("Length of the tuple",len(tup))
print("Maximum value in tuple",max(tup))
print("Minimum value in tuple",min(tup))

Length of the tuple 6
Maximum value in tuple 60
Minimum value in tuple 10

In [86]:
# Membership operation in tuple
student=(10,'Vinay Kumar',50,60,65,61,70)
name='Vinay Kumar'
name  not in student

False

In [45]:
# Repetition operation in tuple
tpl=(10,11,12)
tp1=tpl*3
print(tp1)

(10, 11, 12, 10, 11, 12, 10, 11, 12)

In [47]:
# Count() operation in tuple
tp1.count(10)

3

In [50]:
# sort() function in tuple
sorted(tp1)

[10, 10, 10, 11, 11, 11, 12, 12, 12]

In [87]:
# A python program to accept elements in the form of a tuple and display their sum and average
num=eval(input("Enter the elments in(): "))

sum=0

for i in num:
    sum=sum+i
    avg=sum/len(num)
print("sum= ",sum)
print("Average= ",avg)

Enter the elments in(): 1,2,3,4,5,6
sum=  21
Average=  3.5

In [13]:
# Nested tuple
# A tuple inside another tuple is called nested tuple
tup=(50,60,70,80,90,(200,2012))
print(tup)
print('Nested tuple= ',tup[5])

(50, 60, 70, 80, 90, (200, 2012))
Nested tuple=  (200, 2012)

In [99]:
lst=[10,20,30,40,50,60]

for i in range(7):
    print(lst[i])

10
20
30
40
50
60

IndexError: list index out of range